.admin-topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  background: #1f2937;
  border-bottom: 1px solid #374151;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 24px;
  z-index: 2000;   /* สูงกว่า sidebar */
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.top-logo {
  width: 32px;
  height: 32px;
}

.top-title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.top-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #e5e7eb;
}

.top-avatar img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.top-arrow {
  width: 12px;
  opacity: 0.7;
}

.top-dropdown {
  position: absolute;
  background: #1f2937;
  border: 1px solid #374151;
  padding: 8px;
  border-radius: 12px;
  right: 24px;
  top: 64px;
}

.drop-item {
  width: 100%;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: transparent;
  color: #e5e7eb;
  cursor: pointer;
}

.drop-item:hover {
  background: #374151;
}

.logout {
  color: #ef4444;
}
