/* Container for the entire footer */
.footer {
  background-color: #1F2937;
  color: white;
  padding: 40px;
}

/* Footer container */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Row 1: 4 columns */
.footer-row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 6px;
}

.footer-logo-img {
  width: 30px;
  height: 30px;

}

.footer-logo h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.footer-column h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-column p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 2;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li {
  font-size: 14px;
  margin: 5px 0;
}

.footer-column a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer-column a:hover {
  color: #16A34A;
}

/* Horizontal line */
.footer-line {
  height: 1px;
  background-color: #4B5563;
  margin: 40px 0;
}

/* ===== WARNING BOX ===== */
.future-warning {
  margin-top: 18px;
  background: rgba(243, 156, 18, 0.2); /* สีพื้นหลังแบบใส */
  border-radius: 18px;
  border: 1px solid #F59E0B; /* สีของกรอบ */
  padding: 16px 20px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
  max-width: 100%;  /* กำหนดความกว้าง */
  margin: 0 auto 40px;
}

.warning-icon {
  width: 40px;
  height: 40px;
}

.future-warning-text {
  display: flex;
  flex-direction: column;
}

.future-warning-title {
  font-size: 18px;
  font-weight: 700;
  color: #F59E0B;  /* สีของชื่อหัวข้อ */
  margin-bottom: 8px;
}

.future-warning-des {
  font-size: 14px;
  font-weight: 300;
  color: #FDE68A; /* สีของคำอธิบาย */
  line-height: 1.6;
}

/* เพิ่มขนาดตัวอักษรเมื่อหน้าจอเล็กลง */
@media (max-width: 768px) {
  .future-warning {
    flex-direction: column;
    padding: 12px;
  }

  .future-warning-title {
    font-size: 16px;
  }

  .future-warning-des {
    font-size: 12px;
  }
}

/* Row 3: Copyright and Version Info */
.footer-row-3 {
  text-align: center;
}

.footer-info p {
  font-size: 14px;
  margin: 5px 0;
  color: rgba(255, 255, 255, 0.7);
}

.footer-info p:first-child {
  font-weight: 400;
}

.footer-info p:last-child {
  color: #16A34A;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .footer-row-1 {
    grid-template-columns: 1fr 1fr;
  }

  .footer-column h4 {
    font-size: 16px;
  }

  .footer-card {
    padding: 15px;
  }

  .footer-card-title {
    font-size: 16px;
  }

  .footer-info p {
    font-size: 12px;
  }
}
